<div class="container__small-card">
    <div class="container__small-card-content">
      <div class="small-card__photo">
        <img
          src="https://imgs.search.brave.com/h0eAEj1kfm8TTFIwTMpWz_51O23digHEhLG69We0Tss/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9nZXR3/YWxscGFwZXJzLmNv/bS93YWxscGFwZXIv/ZnVsbC9lL2EvZC8x/MDc3NTYwLXZlcnRp/Y2FsLXdhdGNoLWRv/Z3MtMi13YWxscGFw/ZXJzLTE5MjB4MTA4/MC5qcGc"
          alt=""
          srcset=""
        >
      </div>
  
      <div class="small-card__title">
        <h1><a>test</a></h1>
      </div>
    </div>
  
    <div class="container__small-card__separator">
      <hr>
    </div>
  
  </div>
  
  
  